.decla-cookies {
    padding-top: 120px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.cs-title {
    text-align: center;
}

#footer {
    margin-top: 50px;
}